body {
    margin: 0;
    min-width: 1024px;
}

* {
    box-sizing: border-box;
}

p,h1,h2,a {
    margin: 0;
    text-decoration: none;
    color: black;
}

/* 导航栏部分 */
nav { 
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 20%;
    background-color: #182839;
    color: #fff;
}

nav ul {
    display: flex;    
    align-items: center;
    height: 100%;
    margin: 0;
    list-style-type: none;
}

nav ul li {
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul li:nth-of-type(1) {
    padding-right: 5px;
}

nav ul a {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 100%;
    color: white;
}

nav ul a:hover{
    background-color: #495057;
}

nav .logo {
    display: flex;
    align-items: center;   
    font-size: 24px;
    
}

nav .logo a{
    color: white;
}
/* 导航栏部分 */

.main {
    display: flex;
    flex-direction: column;
    margin: 0 20%;
    border: 1px solid#9ca4ab6b;
    border-top: none;
}
.main .search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 20px;
    border-bottom: 1px solid rgba(197, 197, 201, 0.678);

}
.main .search .result{
    font-size: 20px; 
}
.shopping_procedure{
	position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 20px;
    border-bottom: 1px solid rgba(197, 197, 201, 0.678);
	background:url(procedure_bg.png) 0 0 no-repeat;
	background-size:contain;
	background-position:center;
	font:bold 14px/36px "Microsoft Yahei";
	color:#646464;
}
.shopping_procedure span{
	width:200px;
	display:inline-block;
	text-align:center;
}
.shopping_procedure span.current{
	color:#fff;
	width:200px;
}
.shopping_cart{
	line-height:36px;
	height:30px;
	margin-top:10px;
}
.shopping_cart li{
	float:left;
	text-align:center;
	list-style-type: none;
	font-family: "Microsoft Yahei",'Hiragino Sans GB',"Simsun","Arial";
    font-size: 12px;
    color: #969696;
    line-height: 1;
    background: #fff;
    word-break: break-all;
}
.shopping_cart .f1{
	padding: 8px 0px 8px 0px;
	text-align:middle;
	width:20%;
}
.shopping_cart .f2{
	padding: 8px 0px 8px 0px;
	text-align:middle;
	width:20%;
}
.shopping_cart .f3,.shopping_list .row3{
	padding: 8px 0px 8px 0px;
	text-align:middle;
	width:20%;
}
.shopping_cart .f4,.shopping_list .row4{
	padding: 8px 0px 8px 0px;
	text-align:middle;
	width:20%;
}
.shopping_cart .f5,.shopping_list .row5{
	padding: 8px 0px 8px 0px;
	text-align:middle;
	width:20%;
}
table{
	border-collapse: separate;
}
.shopping_list td{
	vertical-align: top;
    padding-top: 15px;
    position: relative;
    line-height: 22px;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    list-style: none;
}
.shopping_list .choose_one{
	padding: 28px 0px 25px 15px;
}
.shopping_list .row_img {
    padding: 0px 30px 20px 50px;
    width: 80px;
    border-bottom: 0;
    position: relative;
    z-index: 9;
    font-size: 0;
    line-height: 0;
}
.shopping_list .row_name {
    width: 340px;
    line-height: 18px;
    text-align: left;
    position: relative;
    padding-top: 17px;
}
.shopping_list .row_name .name {
    display: block;
    width: 100%;
    height: 36px;
    overflow: hidden;
	text-align:middle;
	text-decoration: underline;
}
.shopping_list .amount input {
    width:15%;
    padding: 0;
    text-align: center;
    border: 1px solid #dcdcdc;
    border-width: 1px;
    background-color: #fff;
    font-weight: bold;
}
.shopping_count{
	position: relative;
	padding: 70px 15px 15px 15px;
}